# Python backend
**/.venv/
**/__pycache__/
**/*.pyc
**/.env
**/.env.*
!**/.env.example

# Frontend
**/node_modules/
**/.next/
**/.turbo/
**/out/
**/dist/
**/.cache/

# General
.env
.env.*
!.env.example
.DS_Store
